*.pyc
*.sublime-workspace

# Distribution files from local builds:
dist/*

# Obsidian files:
# workspace.json is being constantly rewritten and doesn't carry any useful information.
**/.obsidian/workspace.json

# Virtual environment directory:
venv/*
